//vars
@form: #1f1f1f;
@bg: #01a491;
//

section {
  width: 50em;
  border-radius: 2em;
  padding: 2em;
  background-color: @form;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .left {
    width: 40%;
  }
  .right {
    width: 55%;
    max-height: 23em;
    background-color: white;
    border-radius: 1em;
    overflow-y: scroll;
    padding: 1em;
    color: @bg;
    &::-webkit-scrollbar {
      display: none;
    }
    .search {
      position: sticky;
      z-index: 2;
      top: 0;
      border: 1px solid @form;
    }
  }
}
.add {
  width: 100%;
  border-radius: 1em;
  background-color: white;
  min-height: 10em;
  padding: 1em;
  color: @bg;
  text-align: center;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 1.25em;
  }
  input {
    width: 100%;
    border: 2px solid @bg;
    &::placeholder {
      color: @form;
    }
  }
  button {
    &:hover {
      background-color: @form;
      color: white;
    }
  }
}
ul {
  li {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid @bg;
    border-bottom: 2px solid @bg;
    padding: .5em 0;
    input {
      width: 70%;
      margin: 0;
      border-bottom: 1px solid @bg;
      border-radius: 0;
      margin-right: 30%;
    }
    button {
      margin: 0;
      margin-top: .5em;
      margin-right: .5em;
      padding: .75em 1em;
      border: 1px solid @bg;
      &:hover {
        border: 1px solid @bg;
      }
      &:disabled {
        color: @form;
        background-color: white;
      }
    }
  }
}
