<section>
  <div class="left">
    <h1>Список контактов</h1>
    <form class="add" #addForm>
      <h2>Добавить контакт:</h2>
      <input [(ngModel)]="newName" #name type="text" name="name" placeholder="Имя" required>
      <input [(ngModel)]="newContact" #contact type="text" name="contact" placeholder="Контакт" required>
      <button (click)="add()" type="submit" name="button">Добавить</button>
    </form>
  </div>
  <div class="right">
    <ul>
      <li *ngFor="let item of list let i = index">
        <input [(ngModel)]="list[i].name" type="text" name="" value="{{ item.name }}" [disabled]="!item.edit">
        <input [(ngModel)]="list[i].contact" type="text" name="" value="{{ item.contact }}" [disabled]="!item.edit">
        <button *ngIf="!item.edit" (click)="edit(i)" type="button" name="button">Ред.</button>
        <button *ngIf="item.edit" (click)="save(i)" type="button" name="button">Сохранить</button>
        <button (click)="delete(i)" type="button" name="button">Удалить</button>
      </li>
    </ul>
  </div>
</section>
