<form novalidate (ngSubmit)="onSubmit()">
  <h1>Авторизация</h1>
  <input [(ngModel)]="username" autocomplete="off" type="text" placeholder="Введите Ваше имя" name="username" required>
  <input [(ngModel)]="password" autocomplete="off" type="password" placeholder="Введите пароль" name="password" required>
  <button type="submit" name="button">Войти</button>
</form>
