//vars
@form: #1f1f1f;
@bg: #01a491;
//

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border-radius: 2em;
  background-color: @form;
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
  width: 20em;
}


@media screen and (max-width: 767px) {
  form {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
  }
}
