//vars
@form: #1f1f1f;
@bg: #01a491;
//

.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

main {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border-radius: 2em;
  background-color: @form;
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  input {
    margin: 1em 0;
    padding: 1em;
    width: 15em;
    border-radius: 1em;
    border: 0;
    &:active, &:hover, &:focus {
    outline: 0;
    outline-offset: 0;
    }
    &::placeholder {
      color: @form;
    }
  }
  button {
    margin: 1em 0;
    padding: .75em 2em;
    border: 0;
    border-radius: 1em;
    cursor: pointer;
    background-color: @bg;
    color: white;
    font-weight: bold;
    position: relative;
    &:hover {
      background-color: white;
      color: @bg;
    }
    &:active {
      bottom: -2px;
      right: -2px;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
  .wrapper {
    align-items: flex-start;
  }
  form {
    border-radius: 0;
    box-shadow: none;
    input {
      width: 100%;
    }
  }
}
