// vars
@bg: #01a491;
@form: #1f1f1f;
//

* {
  padding: 0;
  margin: 0;
  font-family: arial;
  font-size: 16px;
  transition: .2s;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html, body {
  height: 100%;
  background-color: @bg;
}

button {
  margin: 1em 0;
  padding: .75em 2em;
  border: 0;
  border-radius: 1em;
  cursor: pointer;
  background-color: @bg;
  color: white;
  font-weight: bold;
  position: relative;
  &:hover {
    background-color: white;
    color: @bg;
  }
  &:active {
    bottom: -2px;
    right: -2px;
  }
}

input {
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  border-radius: 1em;
  border: 0;
  &.search {
    // background-image: url(/assets/upload/search.png);
    // background-size: 1em;
    // background-repeat: no-repeat;
    // background-position: right 1em center;
  }
  &:active, &:hover, &:focus {
  outline: 0;
  outline-offset: 0;
  }
  &::placeholder {
    color: @form;
  }
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

@media screen and (max-width: 767px) {
  html, body {
    background-color: @form;
  }
  input {
    width: 100%;
  }
}
